.main {
    padding-bottom: 47px;
}

.column-left {
    float: left;
    width: 250px;
    padding: 20px 26px 23px 18px;
    margin-right: 19px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

.left_news-caption {
    font-size: 20px;
    margin: 0 -25px 29px -18px;
    padding: 0 18px 19px 18px;
    border-bottom: 1px solid #e5e5e5;
    letter-spacing: -0.4px;
    word-wrap: break-word;
}

.left-ul {
    display: list-item;
    margin: 0;
    padding: 0;
    list-style: none;
}

.left-li {
    margin-bottom: 20px;
}

.left-article_news {
    margin-bottom: 12px;
    display: inline-block;
}

.left-article_h3 {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.429;
    letter-spacing: 0.35px;
    margin: 0;
}

.left-props {
    font-size: 12px;
    padding: 0 11px 0 6px;
    position: relative;
}

.left-props_category {
    color: #91919f;
}

.left-props_category::before {
    position: absolute;
    content: '/';
    color: #91919f;
    left: 0px;
}

.left-props_right {
    float: right;
}

.left-props_right_time {
    padding-left: 14px;
    background: url('../img/icon-time.png') 100% no-repeat;
    background-position: left center;
}

.left-props_right_span {
    margin-left: 16px;
    padding-left: 15px;
    background: url('../img/icon-comments.png') 100% no-repeat;
    background-position: left center;
}

.left-button {
    margin-left: 20px;
    margin-top: 5px;
    padding: 11px 11px;
    text-align: center;
    width: 178px;
    float: left;
    border-radius: 24px;
    color: #448ccb;
    border: 1px solid #448ccb;
    letter-spacing: -0.32px;
}

/*      ForexRate     */
.forexRate__header {
    padding-right: 13px;
}

.forexRate__heading {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}

.forexRate__btn {
    float: right;
    width: 50px;
    height: 23px;
    border: 1px solid #448ccb;
    outline: none;
    border-radius: 24px;
    color: transparent;
    background: no-repeat center url('../img/arrow.png');
    cursor:pointer;
}

.forexRate__table {
    display: none;
    margin: 10px 0;
}

.forexRate__text {
    display: inline-block;
    margin-left: 20px;
}

.forexRate__text_USD {
    background: url("../img/dollar.png") left no-repeat;
    padding-left: 30px;
    background-size: 28%;
}

.forexRate__text_EUR {
    background: url("../img/euro.png") left no-repeat;
    padding-left: 30px;
    background-size: 36%;
}

.forexRate__error {
    display: none;
    margin-top: 10px;
    padding-bottom: 40px;
    background: url("../img/fixerLogo.png") no-repeat bottom ;
    background-size: 20%;
}

.forexRate__errorText {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #ff0000;
}


/*      column central*/

.column-central {
    float: left;
    width: 462px;
    margin-right: 19px;
}

.central-ul {
    list-style: none;
    display: list-item;
    padding: 0;
    margin: 0;
}

.central_li {
    margin-bottom: 12px;
    float: left;
    width: 220px;
    min-height: 142px;
}

.central_li:nth-child(2n) {
    margin-right: 20px;
}

.central_crimea_li {
    margin-bottom: 21px;
    min-height: 320px;
    background: black;
}

.central-crimea_article {
    position: relative;
    padding: 108px 52px 35px 20px;
}

.central_crimea_img {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}

.central_crimea_news-items {
    position: relative;
    color: #fff;
}

.central_crimea_politics {
    display: inline-block;
    font-size: 12px;
    padding-left: 8px;
    margin-bottom: 15px;
}

.central_crimea_politics::before {
    position: absolute;
    content: '/';
    left: 2px;
}

.central_crimea_news-caption {
    display: inline-block;
    margin-bottom: 18px;
}

.central_crimea_news-caption_h3 {
    font-size: 30px;
    line-height: 35.5px;
    margin: 0;
    padding: 0;
    letter-spacing: -0.6px;
}

.central_crimea_props {
    font-size: 12px;
}

.central_crimea_props_span {
    margin-left: 17px;
    padding-left: 13px;
    background: url('../img/clock_crimea.png') left no-repeat;
}

.central_img {
    width: 100%;
    object-fit: cover;
}

.central_news-items {
    display: inline-block;
    margin-bottom: 10px;
}

.central_news-items_h3 {
    margin: 0;
    padding: 0;
    line-height: 20px;
    letter-spacing: 0.3px;
    font-size: 14px;
    font-weight: bold;
}

.central_props {
    font-size: 12px;
    padding-left: 9px;
    position: relative;
}

.central_props_category {
    letter-spacing: -0.28px;
    float: left;
    color: #91919f;
}

.central_props_category::before {
    position: absolute;
    content: '/';
    left: 2px;
    color: #91919f;
}

.central_props_right {
    float: left;
    margin-left: 14px;
}

.central_props_right_time {
    display: inline-block;
    padding-left: 15px;
    background: url('../img/icon-time.png') 100% no-repeat;
    background-position: left center;
}

.central_props_right_span {
    margin-left: 16px;
    padding-left: 15px;
    background: url('../img/icon-comments.png') 100% no-repeat;
    background-position: left center;
    display: inline-block;
}

.aside {
    width: 250px;
    float: left;
}

.aside-content:last-child {
    margin-bottom: 0;
}

.aside-content {
    display: inline-block;
    margin-bottom: 20px;
}

.aside-img {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.column-bottom {
    float: left;
    background: #ffffff;
    margin-top: 20px;
}

.bottom-ul {
    list-style: none;
    display: list-item;
    padding: 0;
    margin: 0;
}

.bottom_pekin_li {
    position: relative;
    width: 588px;
    min-height: 393px;
    float: left;
    background: black;
}

.bottom_pekin_article {
    padding: 99px 93px 37px 19px;
}

.bottom_pekin_img {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}

.bottom_pekin_news-items {
    position: relative;
    color: #fff;
}

.bottom_pekin_politics {
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.4px;
    padding-left: 8px;
    margin-bottom: 20px;
}

.bottom_pekin_politics::before {
    position: absolute;
    content: '/';
    left: 2px;
}

.bottom_pekin_news-caption {
    display: inline-block;
    margin-bottom: 9px;
    padding-right: 70px;
}

.bottom_pekin_news-caption_h3 {
    font-size: 30px;
    line-height: 35.5px;
    margin: 0;
    padding: 0;
    letter-spacing: -0.6px;
}

.bottom_pekin_props {
    font-size: 12px;
    padding-left: 3px;
    margin-bottom: 20px;
}

.bottom_pekin_props_span {
    display: inline-block;
    margin-left: 15px;
    padding-left: 13px;
    background: url('../img/clock_crimea.png') left no-repeat;
}

.bottom-pekin_text {
    letter-spacing: -0.28px;
}

.bottom_news-caption {
    float: right;
    width: 412px;
    font-size: 20px;
    margin: 0 0 25px 0;
    padding: 21px 19px;
    border-bottom: 1px solid #ebebeb;
    letter-spacing: -0.4px;
}

.bottom-li {
    float: left;
    width: 390px;
    padding: 0 5px 0 20px;
    margin-bottom: 30px;
}

.bottom_news-items {
    margin-bottom: 10px;
    display: inline-block;
}

.bottom_news-items_h3 {
    margin: 0;
    padding: 0;
    letter-spacing: -0.02em;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.375;
}

.bottom_props {
    font-size: 12px;
}

.bottom_props_category::before {
    position: absolute;
    content: '/';
    left: 0;
    color: #91919f;
}

.bottom_props_category {
    position: relative;
    color: #91919f;
    letter-spacing: -0.28px;
    float: left;
    padding-left: 5px;
}

.bottom_props_right {
    float: left;
    margin-left: 14px;
}

.bottom_props_right_time {
    display: inline-block;
    padding-left: 15px;
    background: url('../img/icon-time.png') 100% no-repeat;
    background-position: left center;
}

.bottom_props_right_span {
    margin-left: 16px;
    padding-left: 15px;
    background: url('../img/icon-comments.png') 100% no-repeat;
    background-position: left center;
    display: inline-block;
}
