
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box; 
    min-width: 1000px; /*минимальтная ширина*/
    margin: 0; /*внешний отступ*/
    background-color:#f9f9f9;/* цвет фона*/
    font-family:"Arial", sans-serif; /*Устанавливает семейство шрифта, которое будет использоваться для оформления текста содержимого
    sans-serif — рубленные шрифты (шрифты без засечек или гротески), типичный представитель Arial;*/
    font-size: 14px;/*Определяет размер шрифта элемента*/
    line-height: 1.5; /*Для блочных элементов определяет минимальную высоту строки текста
    Для внедряемых строчных элементов (вроде <img>) свойство line-height не оказывает никакого эффекта.
    Для остальных строчных элементов line-height задаёт высоту, которая используется для расчёта высоты строки блока.*/
    color:#000000 ; /*цвет текста*/
}

body.modal-active {
    overflow: hidden; /* overflow управляет отображением содержания блочного элемента,
     если оно целиком не помещается и выходит за область заданных размеров.
     hidden: Отображается только область внутри элемента, остальное будет скрыто.*/
}

img {
    max-width: 100%; /*максимальная ширина эелемента*/
}

a {
    text-decoration: none; /*Добавляет оформление текста в виде его подчёркивания, перечёркивания или линии над текстом.
    none: отменяет все эффекты, в том числе и подчёркивание у ссылок, которое задано по умолчанию.*/
    color: inherit;
}

.visually-hidden { /*для скрытого заголовка секции с Навальным*/
    position: absolute !important; /*абсолютное позиционирование*/
    /*!important повышает приоритет стиля */
    clip: rect(1px 1px 1px 1px); /*IE6,IE7*//*clip определяет область позиционированного элемента, в которой будет показано его содержимое.
    Всё, что не помещается в эту область, будет обрезано и становится невидимым. 
    На данный момент единственная доступная форма области — прямоугольник.
    clip работает только для позиционированных элементов, у которых свойство position задано как absolute или fixed.*/
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important; /*поля вокруг текста*/
    border: 0 !important; /*граница элемента*/
    height: 1px !important; /*высота элемента*/
    width: 1px !important; /*ширина элемента*/
    overflow: hidden;
}

.clearfix::after {/*сохраняет высоту родительского бокса*/
    content: "";
    display: table;
    clear: both;
}

.fixed-container { /*контейнер-центровщик*/
    width: 1000px; /*ширина элемента*/
    margin: 0 auto;/* верхний и нижний внешний отступ отсутствует, а боковые отступы выравнивают элемент по горизонтали автоматически*/
}